<h1>PDF 업로드</h1>
<p>병합할 PDF 파일들을 업로드 합니다.
<p>1개를 업로드하여 전자서명 세탁만도 가능합니다.</p>
<br>
<%= form_for @pdf do |f| %>
  <p>
    <%= f.file_field :pdf, multiple: true %>
  </p>
  <%= f.submit 'PDF 업로드' %>
<% end %>